<!DOCTYPE html>
<html>
<head>
  <title>Food Ordering System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/style/main.css">
  <style>
  header{
    display: flex;
    height: auto;
    background-color: #e63582;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }
  </style>
</head>
<body oncontextmenu="return false">
  <header>
    <div id="headerlogo"><img src="/static/img/logo.jpg" align="center"><p>Order 'n' Eat</p></div>
  </header>
  <main>
    <div id="cardholder">
      <div class="card"><p><a href="offers" style="color:white;">Offers</a></p></div>
      <div class="card"><p><a href="new_order" style="color: white;">New Order</a></p></div>
      <div class="card"><p>Existing<br> Order</p></div>
      <div class="card"><p>Transaction<br> History</p></div>
    </div>
  </main>
  <footer style="display: flex"><p>Made with &#x2764; by Order 'n' Eat</p></footer>
</body>
</html>
