<div class="container" style="margin-top:5%; width: 40rem">
    <div class="card">

    </div>
    <div class="card">
        <a href="offers">Offers</a>
    </div> 
    <div class="card">
        <a href="new_order">New Order</a>
    </div>
    <div class="card">
        <a href="current_orders">Current Orders</a>
    </div>
    <a href="past">Transaction History</a>
</div>